---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com//ISteamUser/GetFriendList/v1?key=<STEAM_KEY>&steamid=<STEAM_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"friendslist":{"friends":[{"steamid":"76561197990171372","relationship":"friend","friend_since":1480699419},{"steamid":"76561198006810389","relationship":"friend","friend_since":1284031605},{"steamid":"76561198014910569","relationship":"friend","friend_since":1622271858},{"steamid":"76561198047273221","relationship":"friend","friend_since":1636268582},{"steamid":"76561198067522541","relationship":"friend","friend_since":1586707842},{"steamid":"76561198075496191","relationship":"friend","friend_since":1484471563},{"steamid":"76561198090582577","relationship":"friend","friend_since":1562133188},{"steamid":"76561198114782296","relationship":"friend","friend_since":1586204456},{"steamid":"76561198144229031","relationship":"friend","friend_since":1649333254},{"steamid":"76561198162148029","relationship":"friend","friend_since":1649304390},{"steamid":"76561198259987224","relationship":"friend","friend_since":1649246138},{"steamid":"76561198431725617","relationship":"friend","friend_since":1648660149},{"steamid":"76561199026760857","relationship":"friend","friend_since":1652688245},{"steamid":"76561199162664612","relationship":"friend","friend_since":1666190021}]}}'
  recorded_at: Fri, 21 Oct 2022 10:53:18 GMT
- request:
    method: get
    uri: http://api.steampowered.com//IPlayerService/GetOwnedGames/v1?key=<STEAM_KEY>&steamid=<STEAM_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Eresult:
      - '1'
    body:
      encoding: UTF-8
      string: '{"response":{"game_count":396,"games":[{"appid":20,"playtime_forever":27,"playtime_windows_forever":0,"playtime_mac_forever":0,"playtime_linux_forever":0,"rtime_last_played":86400},{"appid":50,"playtime_forever":332,"playtime_windows_forever":0,"playtime_mac_forever":0,"playtime_linux_forever":0,"rtime_last_played":86400},{"appid":70,"playtime_forever":823,"playtime_windows_forever":0,"playtime_mac_forever":0,"playtime_linux_forever":0,"rtime_last_played":1384167871},{"appid":130,"playtime_forever":188,"playtime_windows_forever":0,"playtime_mac_forever":0,"playtime_linux_forever":0,"rtime_last_played":86400},{"appid":3320,"playtime_forever":34,"playtime_windows_fore[...]
[...]
