---
http_interactions:
- request:
    method: get
    uri: http://api.steampowered.com//ISteamUser/GetFriendList/v1?key=<STEAM_KEY>&steamid=<STEAM_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"friendslist":{"friends":[{"steamid":"76561198075496191","relationship":"friend","friend_since":1652008479}]}}'
  recorded_at: Fri, 21 Oct 2022 12:31:27 GMT
- request:
    method: get
    uri: http://api.steampowered.com//IPlayerService/GetOwnedGames/v1?key=<STEAM_KEY>&steamid=<STEAM_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Eresult:
      - '15'
    body:
      encoding: UTF-8
      string: '{"response":{}}'
  recorded_at: Fri, 21 Oct 2022 12:31:27 GMT
recorded_with: VCR 6.1.0
